@import url('https://fonts.googleapis.com/css2?family=Rubik:wght@400;500;700&display=swap');
@import './variables.scss';

body {
	margin: 0;
	font-family: 'Rubik', sans-serif;
	font-size: 18px;
	background-color: #fff;
	color: #000;
}
